Repository cosmos/relayer, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, scripts, test, documentation, docker

remove else
  relayer/chains/cosmos/provider.go
Labels: none

Create new client with custom unbonding period (#1313)
  cmd/flags.go
  cmd/tx.go
  relayer/chain.go
  relayer/chains/cosmos/provider.go
  relayer/chains/penumbra/provider.go
  relayer/client.go
  relayer/provider/provider.go
Labels: none

feat: add log-level in global config
  CHANGELOG.md
  cmd/appstate.go
  cmd/config.go
  cmd/root.go
  examples/config_EXAMPLE.yaml
Labels: documentation

allow config logger get overwritten
  cmd/appstate.go
Labels: none

register log-level flag
  cmd/root.go
Labels: none

allow flag overwrite config
  cmd/appstate.go
Labels: none

allow debug flag overwrite log level
  cmd/appstate.go
Labels: none

new logger when no config file provided
  cmd/root.go
Labels: none

fix: add os.IsExist check for err
  CHANGELOG.md
  cmd/appstate.go
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

reuse with initLogger
  cmd/appstate.go
  cmd/root.go
Labels: none

Apply suggestions from code review
  cmd/appstate.go
Labels: none

fix: add not exist check for loadConfigFile error (#1325)
  CHANGELOG.md
  cmd/appstate.go
Labels: documentation

feat: add log-level in global config (#1324)
  CHANGELOG.md
  cmd/appstate.go
  cmd/config.go
  cmd/root.go
  examples/config_EXAMPLE.yaml
Labels: documentation

fix: cleanup close init after close confirmed
  CHANGELOG.md
  relayer/processor/path_processor_internal.go
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

fix: cleanup close init after close confirmed (#1326)
  CHANGELOG.md
  relayer/processor/path_processor_internal.go
Labels: documentation

deps: bump ibc-go and cosmos sdk to stable releases
  go.mod
  go.sum
  go.work.sum
Labels: none

unbonding period info
  relayer/client.go
  relayer/query.go
Labels: none

feature: Added adjustments to support on-demand blocks (#6)
  relayer/client.go
  relayer/processor/message_processor.go
  relayer/processor/path_processor.go
Labels: none

remove extra fmt.sprint
  go.work.sum
  relayer/query.go
Labels: none

mod tidy
  go.mod
  go.sum
  go.work.sum
Labels: none

Add Unbonding Period to `clients-expiration` query. (#1327)
  go.mod
  go.sum
  go.work.sum
  relayer/client.go
  relayer/query.go
Labels: none

deps: bump version numbers for handful of deps
  go.mod
  go.sum
  go.work.sum
  interchaintest/go.mod
  interchaintest/go.sum
Labels: none

chore: go mod tidy
  go.mod
  go.sum
  go.work.sum
Labels: none

test: update e2e test cases to account for recent changes in interchaintest
  interchaintest/fee_middleware_test.go
  interchaintest/feegrant_test.go
  interchaintest/ica_channel_close_test.go
  interchaintest/interchain_accounts_test.go
  interchaintest/localhost_client_test.go
  interchaintest/misbehaviour_test.go
  interchaintest/multi_channel_test.go
  interchaintest/path_filter_test.go
  interchaintest/relay_many_test.go
  interchaintest/relayer.go
  interchaintest/relayer_factory.go
  interchaintest/stride/stride_icq_test.go
Labels: none

deps: bump version numbers for handful of deps (#1334)
  go.mod
  go.sum
  go.work.sum
  interchaintest/fee_middleware_test.go
  interchaintest/feegrant_test.go
  interchaintest/go.mod
  interchaintest/go.sum
  interchaintest/ica_channel_close_test.go
  interchaintest/interchain_accounts_test.go
  interchaintest/localhost_client_test.go
  interchaintest/misbehaviour_test.go
  interchaintest/multi_channel_test.go
  interchaintest/path_filter_test.go
  interchaintest/relay_many_test.go
  interchaintest/relayer.go
  interchaintest/relayer_factory.go
  interchaintest/stride/stride_icq_test.go
Labels: none

scale max retries
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

Create Readmes
  Readmes
Labels: none

strangelove project managment
  .github/workflows/pm.yaml
Labels: cicd

file rename
  .github/workflows/strangelove-project-management.yaml
Labels: cicd

Allow feegrants where granter is external (relayer does not have key)
  cmd/feegrant.go
  interchaintest/feegrant_test.go
  interchaintest/go.mod
  interchaintest/go.sum
  relayer/chains/cosmos/bech32_hack.go
  relayer/chains/cosmos/feegrant.go
  relayer/chains/cosmos/provider.go
  relayer/chains/cosmos/tx.go
Labels: none

scale max retries
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

tm websocket first pass
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/processor/path_end_runtime.go
Labels: none

include legacy support
  interchaintest/go.mod
  interchaintest/go.sum
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/processor/path_end_runtime.go
Labels: none

parallelize query
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/processor/path_end_runtime.go
Labels: none

fix
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

allow websocket and poller to run in parallel
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/cosmos/message_handlers.go
  relayer/chains/cosmos/provider.go
Labels: none

retry for block headers
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

Add Unbonding Period to `clients-expiration` query. (#1327)
  go.mod
  go.sum
  go.work.sum
  relayer/client.go
  relayer/query.go
Labels: none

.github/labeler.yml:

cicd:
  - '.github/workflows/*'

scripts:
  - 'scripts/*'

test:
  - 'test/**'

documentation:
- '**/*.md'

docker:
- 'docker/**'
