Repository cosmos/relayer, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, scripts, test, documentation, docker

reactor: simplify error (#1480)
  relayer/chains/cosmos/account.go
  relayer/chains/cosmos/keys.go
Labels: none

refactor: return err directly
  relayer/chains/cosmos/tx.go
Labels: none

adds support for late acks, but only in flush mode
  cmd/start.go
  dymutils/gerr/types.go
  go.mod
  go.sum
  go.work
  relayer/chains/cosmos/query.go
  relayer/processor/path_processor_internal.go
  relayer/strategies.go
Labels: none

readme
  README.md
Labels: documentation

refactor: return err directly (#1481)
  relayer/chains/cosmos/tx.go
Labels: none

fix: consolidate flush and no flush versions into one version, improve logging (#37)
  .github/workflows/build.yml
  README.md
  cmd/start.go
  go.mod
  go.sum
  go.work
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/cosmos/query.go
  relayer/chains/cosmos/tx.go
  relayer/processor/message_processor.go
  relayer/processor/path_end_runtime.go
  relayer/processor/path_processor.go
  relayer/processor/path_processor_internal.go
  relayer/strategies.go
Labels: cicd, documentation

feat: redundant rpcs (#1467)
  cmd/appstate.go
  cmd/chains.go
  cregistry/chain_info.go
  interchaintest/backup_rpc_test.go
  relayer/chain.go
  relayer/chains/cosmos/provider.go
  relayer/chains/penumbra/provider.go
  relayer/provider/provider.go
Labels: none

all: use `errors.New` to replace `fmt.Errorf` with no parameters
  cmd/chains.go
  cmd/config.go
  cmd/paths.go
  cregistry/chain_info.go
  cregistry/chain_info_test.go
  interchaintest/relayer.go
  relayer/chains/cosmos/feegrant.go
  relayer/chains/cosmos/grpc_query.go
  relayer/chains/cosmos/provider.go
  relayer/chains/cosmos/query.go
  relayer/chains/cosmos/tx.go
  relayer/chains/cosmos/tx_test.go
  relayer/chains/penumbra/grpc_query.go
  relayer/chains/penumbra/provider.go
  relayer/chains/penumbra/query.go
  relayer/chains/penumbra/tx.go
  relayer/client.go
  relayer/events.go
  relayer/relaymsgs_test.go
  relayer/strategies.go
Labels: none

chore: add `help` target to display the usage of all targets
  Makefile
Labels: none

chore: fix some comments
  docs/advanced_usage.md
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: documentation

chore: add `help` target to display the usage of all targets (#1484)
  Makefile
Labels: none

chore: fix some comments (#1485)
  docs/advanced_usage.md
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: documentation

feat: add default entrypoint for the container image (#1473)
  Dockerfile
Labels: none

all: use `errors.New` to replace `fmt.Errorf` with no parameters (#1483)
  cmd/chains.go
  cmd/config.go
  cmd/paths.go
  cregistry/chain_info.go
  cregistry/chain_info_test.go
  interchaintest/relayer.go
  relayer/chains/cosmos/feegrant.go
  relayer/chains/cosmos/grpc_query.go
  relayer/chains/cosmos/provider.go
  relayer/chains/cosmos/query.go
  relayer/chains/cosmos/tx.go
  relayer/chains/cosmos/tx_test.go
  relayer/chains/penumbra/grpc_query.go
  relayer/chains/penumbra/provider.go
  relayer/chains/penumbra/query.go
  relayer/chains/penumbra/tx.go
  relayer/client.go
  relayer/events.go
  relayer/relaymsgs_test.go
  relayer/strategies.go
Labels: none

Set memo field to MsgTransfer messages
  relayer/chains/cosmos/tx.go
  relayer/chains/penumbra/tx.go
  relayer/packet-tx.go
  relayer/provider/provider.go
Labels: none

Do not add rly(vx.y.z) to memo
  cmd/config.go
Labels: none

base cosmos use RPC functions
  client/consensus_interfaces.go
Labels: none

feat: adds support for waiting until client is canonical before opening chanels (#38)
  README.md
  cmd/config.go
  cmd/tx.go
  go.sum
  relayer/chains/cosmos/provider.go
  relayer/chains/cosmos/query.go
  relayer/chains/cosmos/tx.go
  relayer/channel.go
  relayer/provider/provider.go
  relayer/query.go
Labels: documentation

feat: support custom trust period and specifying hub/rollapp on chain config (#41)
  cmd/config.go
  cmd/tx.go
  relayer/chains/cosmos/provider.go
  relayer/chains/cosmos/tx.go
Labels: none

REVERT ME!! - remove test
  cmd/chains_test.go
  cmd/flags_test.go
  cmd/keys_test.go
  cregistry/chain_info_test.go
  go.mod
  go.sum
  interchaintest/acc_cache_test.go
  interchaintest/backup_rpc_test.go
  interchaintest/client_threshold_test.go
  interchaintest/fee_middleware_test.go
  interchaintest/feegrant_test.go
  interchaintest/ibc_test.go
  interchaintest/ica_channel_close_test.go
  interchaintest/interchain_accounts_test.go
  interchaintest/localhost_client_test.go
  interchaintest/memo_receiver_limit_test.go
  interchaintest/misbehaviour_test.go
  interchaintest/multi_channel_test.go
  interchaintest/path_filter_test.go
  interchaintest/relay_many_test.go
  interchaintest/relayer_override_test.go
  interchaintest/tendermint_v0.37_boundary_test.go
  relayer/pathEnd_test.go
  relayer/query_test.go
  relayer/relaymsgs_test.go
  relayer/strategies_test.go
Labels: none

REMOVE ME!!! - removed feegrant logic work
  cmd/chains.go
  cmd/feegrant.go
  relayer/chains/cosmos/feegrant.go
  relayer/chains/cosmos/tx.go
Labels: none

technically compiles
  client/client_wrapper.go
  client/cometbft_consensus.go
  client/gordian.go
  client/i.go
  cmd/query.go
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/cosmos/fee_market.go
  relayer/chains/cosmos/provider.go
  relayer/chains/cosmos/query.go
  relayer/chains/cosmos/tx.go
Labels: none

test passing with new Consensus Interface
  client/client_wrapper.go
  client/cometbft_consensus.go
  relayer/chains/cosmos/provider.go
Labels: none

GetStatus `Status` type
  client/cometbft_consensus.go
  client/i.go
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/cosmos/provider.go
  relayer/chains/cosmos/query.go
Labels: none

GetBlockResults, GetABCIQuery, GetValidators, GetTxSearch, DoBroadcastTxSync|Async
  client/bytes/bytes.go
  client/cometbft_consensus.go
  client/i.go
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/cosmos/fee_market.go
  relayer/chains/cosmos/query.go
  relayer/chains/cosmos/tx.go
Labels: none

feat: `ConsensusClient` interface & comet integration
  client/cmbft_client_wrapper.go
  client/cmbft_consensus.go
  client/consensus.go
Labels: none

chore: cometbft bytes lib
  client/bytes/bytes.go
Labels: none

refactor: migrate to ConsensusClient
  interchaintest/feegrant_test.go
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/cosmos/fee_market.go
  relayer/chains/cosmos/feegrant.go
  relayer/chains/cosmos/provider.go
  relayer/chains/cosmos/query.go
  relayer/chains/cosmos/tx.go
  relayer/chains/penumbra/provider.go
Labels: none

rename
  client/cmbft_client_wrapper.go
  client/cmbft_consensus.go
  client/consensus.go
  interchaintest/feegrant_test.go
  relayer/chains/penumbra/provider.go
Labels: none

simplify
  client/cmbft_consensus.go
  client/consensus.go
Labels: none

chore: Bump base image to golang:1.22-alpine3.19 (#43)
  Dockerfile
Labels: none

refactor: just use cometbft bytes. helper lib for now
  client/bytes/bytes.go
  client/cmbft_consensus.go
  client/consensus.go
  relayer/chains/cosmos/tx.go
Labels: none

refactor: rename rclient -> cclient (consensus client)
  cclient/cmbft_client_wrapper.go
  cclient/cmbft_consensus.go
  cclient/consensus.go
  interchaintest/feegrant_test.go
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/cosmos/provider.go
  relayer/chains/cosmos/query.go
  relayer/chains/cosmos/tx.go
  relayer/chains/penumbra/penumbra_chain_processor.go
  relayer/chains/penumbra/provider.go
  relayer/chains/penumbra/query.go
  relayer/chains/penumbra/tx.go
Labels: none

`GordianConsensus` base
  cclient/consensus_cmbft.go
  cclient/consensus_gordian.go
  cclient/gordian_test.go
Labels: none

gordian: ec9423087caf49 (reece/ibc-slop-backup)
  cclient/consensus.go
  cclient/consensus_cmbft.go
  cclient/consensus_gordian.go
  cclient/gordian_test.go
  relayer/chains/cosmos/tx.go
Labels: none

use TxResultResponse for Async
  cclient/consensus.go
  cclient/consensus_cmbft.go
  cclient/consensus_gordian.go
  cclient/gordian_test.go
  relayer/chains/cosmos/tx.go
Labels: none

force unbonding period
  relayer/chains/cosmos/provider.go
  relayer/chains/cosmos/query.go
Labels: none

feat: for rollapp, query unbonding period from x/sequencers (#44)
  relayer/chains/cosmos/query.go
Labels: none

`SimulateTransaction` to reduce ABCI requirement for GasInfo
  cclient/consensus.go
  cclient/consensus_cmbft.go
  cclient/consensus_gordian.go
  cclient/gordian_test.go
  relayer/chains/cosmos/tx.go
Labels: none

fix: only run gordian test locally
  cclient/gordian_test.go
Labels: none

.github/labeler.yml:

cicd:
  - '.github/workflows/*'

scripts:
  - 'scripts/*'

test:
  - 'test/**'

documentation:
- '**/*.md'

docker:
- 'docker/**'
