Repository cosmos/relayer, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, scripts, test, documentation, docker

.github/labeler.yml:

cicd:
  - '.github/workflows/*'

scripts:
  - 'scripts/*'

test:
  - 'test/**'

documentation:
- '**/*.md'

docker:
- 'docker/**'

docs: update CODEOWNERS to reference entire strangelove_relayer_maintain team (#1463)
  .github/CODEOWNERS
Labels: none

MessageSender refactor
  relayer/chains/cosmos/tx.go
  relayer/processor/message_broadcaster.go
  relayer/processor/message_injector.go
  relayer/processor/message_processor.go
  relayer/processor/message_sender.go
  relayer/processor/path_processor.go
  relayer/processor/path_processor_internal.go
Labels: none

lock around pathProcessors
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

remove bech32 hack
  go.mod
  go.sum
  interchaintest/feegrant_test.go
  interchaintest/go.mod
  interchaintest/go.sum
  relayer/chains/cosmos/bech32_hack.go
  relayer/chains/cosmos/codec.go
  relayer/chains/cosmos/keys.go
  relayer/chains/cosmos/tx.go
Labels: none

use commit on main repo
  go.mod
  go.sum
Labels: none

fix(delayed ack support): adds no flush flag (#28)
  README.md
  cmd/flags.go
  cmd/start.go
  cmd/tx.go
  relayer/chains/mock/mock_chain_processor_test.go
  relayer/channel.go
  relayer/connection.go
  relayer/processor/message_processor.go
  relayer/processor/path_processor.go
  relayer/strategies.go
Labels: documentation

simplify
  relayer/processor/message_injector.go
  relayer/processor/path_processor.go
  relayer/processor/path_processor_internal.go
Labels: none

chore: update workflow and Docker compatible with e2e-tests (#30)
  .github/workflows/docker-publish.yaml
  Dockerfile
  cmd/config.go
Labels: cicd

feat(ci): trigger e2e-tests every commit to PR (#33)
  .github/workflows/e2e_test.yml
  .github/workflows/strangelove-project-management.yaml
Labels: cicd

chore: update Penumbra protos
  relayer/chains/penumbra/cnidarium/v1/cnidarium.pb.go
  relayer/chains/penumbra/core/app/v1/app.pb.go
  relayer/chains/penumbra/core/asset/v1/asset.pb.go
  relayer/chains/penumbra/core/component/auction/v1/auction.pb.go
  relayer/chains/penumbra/core/component/compact_block/v1/compact_block.pb.go
  relayer/chains/penumbra/core/component/dex/v1/dex.pb.go
  relayer/chains/penumbra/core/component/fee/v1/fee.pb.go
  relayer/chains/penumbra/core/component/governance/v1/governance.pb.go
  relayer/chains/penumbra/core/component/sct/v1/sct.pb.go
  relayer/chains/penumbra/core/component/shielded_pool/v1/shielded_pool.pb.go
  relayer/chains/penumbra/core/component/stake/v1/stake.pb.go
  relayer/chains/penumbra/core/transaction/v1/transaction.pb.go
  relayer/chains/penumbra/custody/threshold/v1/threshold.pb.go
  relayer/chains/penumbra/custody/v1/custody.pb.go
  relayer/chains/penumbra/view/v1/view.pb.go
Labels: none

fix: instantiate ChainId in TransactionParameters
  relayer/chains/penumbra/tx.go
Labels: none

chore: update Penumbra protos (#1466)
  relayer/chains/penumbra/cnidarium/v1/cnidarium.pb.go
  relayer/chains/penumbra/core/app/v1/app.pb.go
  relayer/chains/penumbra/core/asset/v1/asset.pb.go
  relayer/chains/penumbra/core/component/auction/v1/auction.pb.go
  relayer/chains/penumbra/core/component/compact_block/v1/compact_block.pb.go
  relayer/chains/penumbra/core/component/dex/v1/dex.pb.go
  relayer/chains/penumbra/core/component/fee/v1/fee.pb.go
  relayer/chains/penumbra/core/component/governance/v1/governance.pb.go
  relayer/chains/penumbra/core/component/sct/v1/sct.pb.go
  relayer/chains/penumbra/core/component/shielded_pool/v1/shielded_pool.pb.go
  relayer/chains/penumbra/core/component/stake/v1/stake.pb.go
  relayer/chains/penumbra/core/transaction/v1/transaction.pb.go
  relayer/chains/penumbra/custody/threshold/v1/threshold.pb.go
  relayer/chains/penumbra/custody/v1/custody.pb.go
  relayer/chains/penumbra/tx.go
  relayer/chains/penumbra/view/v1/view.pb.go
Labels: none

fix mistake flag name
  cmd/flags.go
  cmd/query.go
Labels: none

feat: multiple balance query (#1461)
  cmd/flags.go
  cmd/query.go
Labels: none

feat: cosmos redundant rpcs
  cmd/appstate.go
  cmd/chains.go
  relayer/chain.go
  relayer/chains/cosmos/provider.go
  relayer/chains/penumbra/provider.go
  relayer/provider/provider.go
Labels: none

fix command alias
  cmd/chains.go
Labels: none

add backup rpcs from registry
  cregistry/chain_info.go
Labels: none

adds notes
  relayer/processor/path_processor.go
  relayer/processor/path_processor_internal.go
Labels: none

feat: liveliness check for penumbra
  relayer/chains/penumbra/provider.go
Labels: none

fix(readability): adds some notes for some problems we experienced (#35)
  relayer/processor/path_processor.go
  relayer/processor/path_processor_internal.go
Labels: none

impl what I think is the correct fix to enable flushing
  dymutils/gerr/types.go
  relayer/chains/cosmos/query.go
  relayer/processor/path_processor_internal.go
Labels: none

Start work on interchaintests
  interchaintest/backup_rpc_test.go
Labels: none

update log levels
  relayer/chains/cosmos/provider.go
Labels: none

Use relayer image & get host port via bindings
  interchaintest/backup_rpc_test.go
Labels: none

Populate config with CLI
  interchaintest/backup_rpc_test.go
Labels: none

fix nil pointer ref
  relayer/chains/cosmos/provider.go
  relayer/chains/penumbra/provider.go
Labels: none

retry primary rpc first
  relayer/chains/cosmos/provider.go
  relayer/chains/penumbra/provider.go
Labels: none

fix loop variable
  cmd/chains.go
Labels: none

poll for acknowledgement
  interchaintest/backup_rpc_test.go
Labels: none

feat: add max-msg-num parameter for batch broadcast in chain configs
  CHANGELOG.md
  relayer/chains/cosmos/provider.go
  relayer/chains/penumbra/provider.go
  relayer/processor/message_processor.go
  relayer/provider/provider.go
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

larger timeout
  Makefile
  relayer/chains/cosmos/fee_market_test.go
Labels: none

add default entrypoint for the container image
  Dockerfile
Labels: none

chore: update penumbra protos to v0.77.2
  relayer/chains/penumbra/core/component/auction/v1/auction.pb.go
  relayer/chains/penumbra/core/component/dex/v1/dex.pb.go
  relayer/chains/penumbra/core/component/funding/v1/funding.pb.go
  relayer/chains/penumbra/core/component/governance/v1/governance.pb.go
  relayer/chains/penumbra/core/component/sct/v1/sct.pb.go
  relayer/chains/penumbra/core/component/shielded_pool/v1/shielded_pool.pb.go
  relayer/chains/penumbra/core/component/stake/v1/stake.pb.go
  relayer/chains/penumbra/view/v1/view.pb.go
Labels: none

fix comment
  cmd/tx.go
  relayer/chains/penumbra/tx.go
Labels: none

chore: re-generate Penumbra code from latest protos
  relayer/chains/penumbra/core/component/community_pool/v1/community_pool.pb.go
  relayer/chains/penumbra/core/component/fee/v1/fee.pb.go
  relayer/chains/penumbra/core/component/ibc/v1/ibc.pb.go
  relayer/chains/penumbra/core/component/stake/v1/stake.pb.go
  relayer/chains/penumbra/view/v1/view.pb.go
Labels: none

test: temp fix fee market test by swapping out RPC addr
  relayer/chains/cosmos/fee_market_test.go
Labels: none

reactor: simplify error
  relayer/chains/cosmos/account.go
  relayer/chains/cosmos/keys.go
Labels: none

chore: update penumbra protos to v0.77.2 (#1474)
  relayer/chains/cosmos/fee_market_test.go
  relayer/chains/penumbra/core/component/auction/v1/auction.pb.go
  relayer/chains/penumbra/core/component/community_pool/v1/community_pool.pb.go
  relayer/chains/penumbra/core/component/dex/v1/dex.pb.go
  relayer/chains/penumbra/core/component/fee/v1/fee.pb.go
  relayer/chains/penumbra/core/component/funding/v1/funding.pb.go
  relayer/chains/penumbra/core/component/governance/v1/governance.pb.go
  relayer/chains/penumbra/core/component/ibc/v1/ibc.pb.go
  relayer/chains/penumbra/core/component/sct/v1/sct.pb.go
  relayer/chains/penumbra/core/component/shielded_pool/v1/shielded_pool.pb.go
  relayer/chains/penumbra/core/component/stake/v1/stake.pb.go
  relayer/chains/penumbra/view/v1/view.pb.go
Labels: none

fix comment (#1476)
  cmd/tx.go
  relayer/chains/penumbra/tx.go
Labels: none
