Repository cosmos/relayer, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, scripts, test, documentation, docker

Update task templates
  .github/ISSUE_TEMPLATE/task-template.md
Labels: documentation

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation

Problem: packet get relayed even estimated gas is higher than max gas
  CHANGELOG.md
  relayer/chains/cosmos/tx.go
  relayer/chains/cosmos/tx_test.go
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Problem: estimate less gas when miss max gas on txf when simualte runTx
  CHANGELOG.md
  relayer/chains/cosmos/tx.go
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

update doc
  relayer/chains/cosmos/tx.go
Labels: none

Problem: estimate less gas when miss max gas on txf when simualte runTx (#1303)
  CHANGELOG.md
  relayer/chains/cosmos/tx.go
Labels: documentation

add back infinite check
  relayer/chains/cosmos/tx.go
  relayer/chains/cosmos/tx_test.go
Labels: none

Problem: packet get relayed even estimated gas is higher than max gas (#1302)
  CHANGELOG.md
  relayer/chains/cosmos/tx.go
  relayer/chains/cosmos/tx_test.go
Labels: documentation

Update debug log
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

Stuck packet (#1296)
  cmd/flags.go
  cmd/start.go
  cmd/tx.go
  docs/advanced_usage.md
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/mock/mock_chain_processor.go
  relayer/chains/penumbra/penumbra_chain_processor.go
  relayer/processor/chain_processor.go
  relayer/processor/event_processor.go
  relayer/processor/types.go
  relayer/strategies.go
Labels: documentation

Remove self hosted runners
  .github/workflows/interchaintest.yml
Labels: cicd

Remove self hosted runners (#1306)
  .github/workflows/interchaintest.yml
Labels: cicd

edit rpc endpoints using command (#1292)
  .github/workflows/interchaintest.yml
  cmd/appstate.go
  cmd/chains.go
  cmd/errors.go
  relayer/chains/cosmos/provider.go
  relayer/chains/penumbra/provider.go
  relayer/provider/provider.go
Labels: cicd

Apply suggestions from code review
  relayer/chains/parsing.go
Labels: none

made some changes based on the suggestions and mistakes
  cmd/keys.go
  cmd/keys_test.go
  go.work.sum
Labels: none

fix resolve
  relayer/chains/parsing.go
Labels: none

fix: add missing msg type when parse from event (#1196)
  CHANGELOG.md
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/cosmos/event_parser.go
  relayer/chains/cosmos/event_parser_test.go
  relayer/chains/cosmos/message_handlers.go
  relayer/chains/cosmos/query.go
  relayer/chains/parsing.go
  relayer/chains/penumbra/event_parser.go
  relayer/chains/penumbra/message_handlers.go
  relayer/chains/penumbra/penumbra_chain_processor.go
  relayer/chains/penumbra/query.go
Labels: documentation

added a separate test for restore-all
  cmd/keys_test.go
Labels: none

delete old penumbra protos
  relayer/chains/penumbra/core/app/v1alpha1/app.pb.go
  relayer/chains/penumbra/core/asset/v1alpha1/asset.pb.go
  relayer/chains/penumbra/core/component/chain/v1alpha1/chain.pb.go
  relayer/chains/penumbra/core/component/compact_block/v1alpha1/compact_block.pb.go
  relayer/chains/penumbra/core/component/dao/v1alpha1/dao.pb.go
  relayer/chains/penumbra/core/component/dex/v1alpha1/dex.pb.go
  relayer/chains/penumbra/core/component/distributions/v1alpha1/distributions.pb.go
  relayer/chains/penumbra/core/component/fee/v1alpha1/fee.pb.go
  relayer/chains/penumbra/core/component/governance/v1alpha1/governance.pb.go
  relayer/chains/penumbra/core/component/ibc/v1alpha1/ibc.pb.go
  relayer/chains/penumbra/core/component/sct/v1alpha1/sct.pb.go
  relayer/chains/penumbra/core/component/shielded_pool/v1alpha1/shielded_pool.pb.go
  relayer/chains/penumbra/core/component/stake/v1alpha1/stake.pb.go
  relayer/chains/penumbra/core/keys/v1alpha1/keys.pb.go
  relayer/chains/penumbra/core/num/v1alpha1/num.pb.go
  relayer/chains/penumbra/crypto/decaf377_fmd/v1alpha1/decaf377_fmd.pb.go
  relayer/chains/penumbra/crypto/decaf377_rdsa/v1alpha1/decaf377_rdsa.pb.go
  relayer/chains/penumbra/crypto/tct/v1alpha1/tct.pb.go
  relayer/chains/penumbra/narsil/ledger/v1alpha1/ledger.pb.go
  relayer/chains/penumbra/storage/v1alpha1/storage.pb.go
  relayer/chains/penumbra/tools/summoning/v1alpha1/summoning.pb.go
  relayer/chains/penumbra/util/tendermint_proxy/v1alpha1/tendermint_proxy.pb.go
Labels: none

move cometbft block results helper methods and types to their own go file
  relayer/chains/comet_rpc.go
Labels: none

remove commented out code
  interchaintest/misbehaviour_test.go
  relayer/chains/penumbra/tx.go
Labels: none

add go.work file back
  go.work
Labels: none

missed a short declaration for res
  cmd/keys_test.go
Labels: none

small nick failing the build
  cmd/keys_test.go
Labels: none

update keys restore test with proper expected address
  relayer/chains/cosmos/keys_test.go
Labels: none

fixed test
  cmd/keys_test.go
  go.work.sum
Labels: none

update penumbra protos to v0.62.0
  relayer/chains/penumbra/core/app/v1alpha1/app.pb.go
  relayer/chains/penumbra/core/component/compact_block/v1alpha1/compact_block.pb.go
  relayer/chains/penumbra/core/component/fee/v1alpha1/fee.pb.go
  relayer/chains/penumbra/core/component/governance/v1alpha1/governance.pb.go
  relayer/chains/penumbra/core/keys/v1alpha1/keys.pb.go
  relayer/chains/penumbra/core/transaction/v1alpha1/transaction.pb.go
  relayer/chains/penumbra/custody/v1alpha1/custody.pb.go
  relayer/chains/penumbra/narsil/ledger/v1alpha1/ledger.pb.go
  relayer/chains/penumbra/view/v1alpha1/view.pb.go
Labels: none

added keys list command for techChain and testChain2 as well in the test cmd
  cmd/keys_test.go
Labels: none

nicks
  cmd/keys_test.go
Labels: none

mod tidy
  go.work.sum
Labels: none

client state unbonding period
  cmd/flags.go
  cmd/tx.go
  relayer/chain.go
  relayer/chains/cosmos/provider.go
  relayer/chains/penumbra/provider.go
  relayer/client.go
  relayer/provider/provider.go
Labels: none

Harry/wallet init (#1190)
  cmd/keys.go
  cmd/keys_test.go
  go.work.sum
Labels: none

ci: add setup Go step to prepare-scenario-matrix
  .github/workflows/interchaintest.yml
Labels: cicd

chore: Updated default max clock drift to 70 mins. (#3)
  relayer/chains/cosmos/tx.go
Labels: none

fix typos in comments
  relayer/chains/cosmos/log.go
  relayer/chains/penumbra/log.go
Labels: none

docs: fix typos
  README.md
  docs/advanced_usage.md
  docs/chain_implementation.md
Labels: documentation

docs: fix typos (#1319)
  README.md
  docs/advanced_usage.md
  docs/chain_implementation.md
  relayer/chains/cosmos/log.go
  relayer/chains/penumbra/log.go
Labels: documentation

ci: filter out duplicate proto warnings when generating test matrix
  .github/workflows/interchaintest.yml
Labels: cicd

.github/labeler.yml:

cicd:
  - '.github/workflows/*'

scripts:
  - 'scripts/*'

test:
  - 'test/**'

documentation:
- '**/*.md'

docker:
- 'docker/**'
