Repository cosmos/relayer, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, scripts, test, documentation, docker

remove deprecated narsil
  relayer/chains/penumbra/narsil/ledger/v1alpha1/ledger.pb.go
Labels: none

add missing protos
  relayer/chains/penumbra/core/component/community_pool/v1alpha1/community_pool.pb.go
  relayer/chains/penumbra/core/txhash/v1alpha1/txhash.pb.go
Labels: none

update penumbra protos and fix tx.go, query.go with new apis (#1379)
  relayer/chains/penumbra/cnidarium/v1alpha1/cnidarium.pb.go
  relayer/chains/penumbra/core/app/v1alpha1/app.pb.go
  relayer/chains/penumbra/core/component/chain/v1alpha1/chain.pb.go
  relayer/chains/penumbra/core/component/community_pool/v1alpha1/community_pool.pb.go
  relayer/chains/penumbra/core/component/compact_block/v1alpha1/compact_block.pb.go
  relayer/chains/penumbra/core/component/dex/v1alpha1/dex.pb.go
  relayer/chains/penumbra/core/component/governance/v1alpha1/governance.pb.go
  relayer/chains/penumbra/core/component/sct/v1alpha1/sct.pb.go
  relayer/chains/penumbra/core/component/shielded_pool/v1alpha1/shielded_pool.pb.go
  relayer/chains/penumbra/core/component/stake/v1alpha1/stake.pb.go
  relayer/chains/penumbra/core/keys/v1alpha1/keys.pb.go
  relayer/chains/penumbra/core/transaction/v1alpha1/transaction.pb.go
  relayer/chains/penumbra/core/txhash/v1alpha1/txhash.pb.go
  relayer/chains/penumbra/crypto/decaf377_rdsa/v1alpha1/decaf377_rdsa.pb.go
  relayer/chains/penumbra/narsil/ledger/v1alpha1/ledger.pb.go
  relayer/chains/penumbra/tx.go
  relayer/chains/penumbra/view/v1alpha1/view.pb.go
Labels: none

Problem: no concrete type registered for type URL of EthAccount
  CHANGELOG.md
  relayer/codecs/ethermint/codec.go
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Problem: no concrete type registered for type URL of EthAccount (#1390)
  CHANGELOG.md
  relayer/codecs/ethermint/codec.go
Labels: documentation

ci: bump goreleaser-cross version
  Makefile
Labels: none

ci: bump goreleaser-cross version (#1391)
  Makefile
Labels: none

copy interchaintest docs site
  .DS_Store
  theme.config.tsx
Labels: none

Create nextjs.yml
  .github/workflows/nextjs.yml
Labels: cicd

Create nextjs.yml
  .github/workflows/nextjs.yml
Labels: cicd

test change
  .DS_Store
  pages/index.mdx
Labels: none

retry only if processing completed for a packet
  relayer/processor/message_processor.go
  relayer/processor/path_end_runtime.go
  relayer/processor/path_processor.go
  relayer/processor/path_processor_internal.go
  relayer/processor/types.go
  relayer/processor/types_internal.go
Labels: none

nil safety
  relayer/processor/types_internal.go
Labels: none

keep assembled and lastProcessedHeight
  relayer/processor/message_processor.go
  relayer/processor/path_end_runtime.go
  relayer/processor/types_internal.go
Labels: none

use counterparty key for remove packet retention
  relayer/processor/path_end_runtime.go
Labels: none

Use channel for finishedProcessing
  relayer/processor/message_processor.go
  relayer/processor/path_end_runtime.go
  relayer/processor/path_processor.go
  relayer/processor/types_internal.go
Labels: none

retry only if processing completed for a packet (#1393)
  relayer/processor/message_processor.go
  relayer/processor/path_end_runtime.go
  relayer/processor/path_processor.go
  relayer/processor/path_processor_internal.go
  relayer/processor/types.go
  relayer/processor/types_internal.go
Labels: none

fix: use context timeout per paginated query
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/cosmos/query.go
Labels: none

refactor: break out anonymous function into a named method to use in both channel query methods
  relayer/chains/cosmos/query.go
Labels: none

refactor: avoid redundant code and use QueryChannelsPaginated in QueryChannels
  relayer/chains/cosmos/query.go
Labels: none

fix: use context timeout per paginated query (#1395)
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/cosmos/query.go
Labels: none

refactor: avoid killing entire rly process
  relayer/processor/event_processor.go
  relayer/processor/path_processor.go
Labels: none

fix(injective): replace x/auth/types with /types
  relayer/codecs/injective/codec.go
Labels: none

fix(injective): replace x/auth/types with /types (#1397)
  relayer/codecs/injective/codec.go
Labels: none

Update Fixed Validation of `VoteExtensionsEnableHeight` can cause chain halt in Go cosmos cometbft
  interchaintest/go.mod
Labels: none

Add wasm type support for tendermint clients
  relayer/chains/cosmos/module/app_module.go
  relayer/chains/cosmos/provider.go
  relayer/chains/cosmos/tx.go
  relayer/client.go
  relayer/codecs/08-wasm-types/client_state.go
  relayer/codecs/08-wasm-types/codec.go
  relayer/codecs/08-wasm-types/consensus_state.go
  relayer/codecs/08-wasm-types/header.go
  relayer/codecs/08-wasm-types/misbehavior.go
  relayer/codecs/08-wasm-types/module.go
  relayer/codecs/08-wasm-types/msgs.go
  relayer/codecs/08-wasm-types/tx.pb.go
  relayer/codecs/08-wasm-types/wasm.pb.go
  relayer/provider/matcher.go
Labels: none

Move wasm enablement from provider config to create client / link cmd as flags
  cmd/flags.go
  cmd/tx.go
  relayer/chains/cosmos/provider.go
  relayer/chains/cosmos/tx.go
  relayer/chains/penumbra/tx.go
  relayer/client.go
  relayer/processor/message_processor.go
  relayer/provider/provider.go
Labels: none

fix: wasm code adjustment
  relayer/chains/icon/provider.go
  relayer/chains/icon/tx.go
  relayer/chains/wasm/tx.go
  relayer/processor/message_processor.go
Labels: none

fix: exported wasm
  go.mod
  go.sum
  relayer/codecs/08-wasm-types/client_state.go
  relayer/codecs/08-wasm-types/consensus_state.go
  relayer/codecs/08-wasm-types/header.go
  relayer/codecs/08-wasm-types/misbehavior.go
  relayer/codecs/08-wasm-types/module.go
Labels: none

fix: update client setup
  relayer/chains/cosmos/tx.go
Labels: none

fix: issue
  relayer/chains/icon/tx.go
Labels: none

fix: multiple wasm module register issue
  relayer/chains/cosmos/module/app_module.go
  relayer/chains/cosmos/tx.go
  relayer/chains/icon/tx.go
  relayer/chains/penumbra/tx.go
  relayer/client.go
  relayer/codecs/08-wasm-types/client_state.go
  relayer/codecs/08-wasm-types/codec.go
  relayer/codecs/08-wasm-types/consensus_state.go
  relayer/codecs/08-wasm-types/header.go
  relayer/codecs/08-wasm-types/misbehavior.go
  relayer/codecs/08-wasm-types/module.go
  relayer/codecs/08-wasm-types/msgs.go
  relayer/codecs/08-wasm-types/tx.pb.go
  relayer/codecs/08-wasm-types/wasm.pb.go
  relayer/provider/matcher.go
Labels: none

feat: wasm client creation of icon on cosmos native module
  relayer/chains/cosmos/codec.go
  relayer/chains/cosmos/tx.go
  relayer/chains/icon/provider.go
Labels: none

fix: update ibc-integration repo
  .gitmodules
  go.mod
  go.sum
  relayer/chains/cosmos/tx.go
  relayer/chains/icon/client_test.go
  relayer/chains/icon/codec_test.go
  relayer/chains/icon/cryptoutils/merkle_proof.go
  relayer/chains/icon/cryptoutils/merkle_test.go
  relayer/chains/icon/event_parser.go
  relayer/chains/icon/event_parser_test.go
  relayer/chains/icon/module/app_module.go
  relayer/chains/icon/provider.go
  relayer/chains/icon/provider_test.go
  relayer/chains/icon/query.go
  relayer/chains/icon/query_test.go
  relayer/chains/icon/tx.go
  relayer/chains/icon/types/types.go
  relayer/chains/icon/utils.go
  relayer/chains/wasm/module/app_module.go
  relayer/chains/wasm/provider.go
  relayer/chains/wasm/provider_test.go
  relayer/chains/wasm/query.go
  relayer/chains/wasm/tx.go
Labels: none

fix: adjust clientState of cosmos native module for icon-ibc
  relayer/chains/icon/icon_chain_processor.go
  relayer/chains/icon/provider_helper.go
  relayer/chains/icon/query.go
  relayer/chains/penumbra/tx.go
  relayer/client.go
  relayer/provider/provider.go
Labels: none

chore: remove println
  cmd/paths.go
  relayer/chains/cosmos/tx.go
  relayer/chains/icon/provider_helper.go
  relayer/chains/icon/query.go
  relayer/chains/penumbra/msg.go
  relayer/chains/wasm/helper_debug_msg.go
Labels: none

fix: only send client updates when necessary and when msg is properly constructed
  relayer/processor/message_processor.go
Labels: none

fix: undo previous check in `sendBatchMessages`
  relayer/processor/message_processor.go
Labels: none

chore: update cometbft-client to v0.1.0
  go.mod
  go.sum
Labels: none

.github/labeler.yml:

cicd:
  - '.github/workflows/*'

scripts:
  - 'scripts/*'

test:
  - 'test/**'

documentation:
- '**/*.md'

docker:
- 'docker/**'
