Repository cosmos/relayer, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, scripts, test, documentation, docker

.github/labeler.yml:

cicd:
  - '.github/workflows/*'

scripts:
  - 'scripts/*'

test:
  - 'test/**'

documentation:
- '**/*.md'

docker:
- 'docker/**'

cp
  relayer/processor/path_processor_internal.go
Labels: none

cp
  relayer/processor/message_processor.go
  relayer/processor/path_processor_internal.go
  relayer/provider/provider.go
Labels: none

trying to improve clarity
  relayer/processor/message_processor.go
  relayer/processor/path_end_runtime.go
Labels: none

add a note
  relayer/processor/message_processor.go
Labels: none

maybe we can straight up remove the cache lookup
  relayer/processor/message_processor.go
Labels: none

completely removes the optimized cache based update
  relayer/processor/path_processor_internal.go
Labels: none

add an informational note
  relayer/processor/message_processor.go
  relayer/processor/path_end_runtime.go
Labels: none

it might work I guess
  relayer/processor/message_processor.go
Labels: none

Update README.md
  README.md
Labels: documentation

Update appstate.go
  cmd/appstate.go
Labels: none

Update config.go
  cmd/config.go
Labels: none

Fix spelling mistake
  docs/advanced_usage.md
Labels: documentation

fix typos
  .github/workflows/interchaintest.yml
  CHANGELOG.md
  interchaintest/go.sum
Labels: cicd, documentation

Update README.md
  README.md
Labels: documentation

Update advanced_usage.md
  docs/advanced_usage.md
Labels: documentation

Update config_migration.md
  docs/config_migration.md
Labels: documentation

Update troubleshooting.md
  docs/troubleshooting.md
Labels: documentation

Update tx.go
  cmd/tx.go
Labels: none

Update start.go
  cmd/start.go
Labels: none

fix: typo
  cregistry/cosmos_github_registry.go
Labels: none

fix incorrect flag
  cmd/start.go
Labels: none

update
  cmd/start.go
Labels: none

fix length
  cmd/start.go
Labels: none

Update keys_test.go
  cmd/keys_test.go
Labels: none

docs: update README.md
  README.md
Labels: documentation

chore: simplified directory creation step
  examples/demo/scripts/two-chainz
Labels: none

test: update keys_test.go (#1552)
  cmd/keys_test.go
Labels: none

Update chains.go
  cmd/chains.go
Labels: none

Update errors.go
  cmd/errors.go
Labels: none
