Repository cosmos/relayer, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, scripts, test, documentation, docker

scale max retries
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

tm websocket first pass
  go.mod
  go.sum
  go.work.sum
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/cosmos/message_handlers.go
  relayer/chains/cosmos/provider.go
  relayer/processor/path_end_runtime.go
Labels: none

Auto add issues to Strangelove project board (#1337)
  .github/workflows/strangelove-project-management.yaml
Labels: cicd

switch to websocket missed case
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

Auto add issues to Strangelove project board (#1337)
  .github/workflows/pm.yaml
  .github/workflows/strangelove-project-management.yaml
Labels: cicd

fix: cosmos_relayer_tx_failure metric
  relayer/processor/message_processor.go
Labels: none

fix: cosmos_relayer_tx_failure metric
  relayer/processor/message_processor.go
Labels: none

fixes
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/cosmos/message_handlers.go
  relayer/processor/message_processor.go
Labels: none

fixes
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

proof retry
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/processor/path_end_runtime.go
  relayer/processor/types_internal.go
Labels: none

fetch packet proofs immediately
  relayer/chains/cosmos/message_handlers.go
  relayer/chains/cosmos/query.go
  relayer/chains/cosmos/tx.go
  relayer/chains/mock/message_handlers.go
  relayer/chains/parsing.go
  relayer/chains/penumbra/message_handlers.go
  relayer/chains/penumbra/provider.go
  relayer/chains/penumbra/query.go
  relayer/chains/penumbra/tx.go
  relayer/packet-tx.go
  relayer/processor/path_end_runtime.go
  relayer/processor/path_processor_internal.go
  relayer/processor/types.go
  relayer/processor/types_internal.go
  relayer/provider/provider.go
Labels: none

feedback
  relayer/processor/message_processor.go
Labels: none

verbose tx error
  relayer/chains/cosmos/tx.go
Labels: none

fix: restructure `ShouldRelayChannel`
  relayer/processor/path_end.go
  relayer/processor/path_end_runtime.go
  relayer/processor/path_end_test.go
  relayer/processor/path_processor.go
  relayer/processor/path_processor_internal.go
Labels: none

wip optimizing proofs
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/cosmos/event_parser_test.go
  relayer/chains/cosmos/message_handlers.go
  relayer/chains/cosmos/tx.go
  relayer/chains/parsing.go
  relayer/chains/penumbra/message_handlers.go
  relayer/chains/penumbra/query.go
  relayer/processor/message_processor.go
  relayer/processor/path_end_runtime.go
  relayer/processor/path_processor_internal.go
  relayer/processor/types_internal.go
  relayer/provider/provider.go
Labels: none

re-add wait for block
  relayer/processor/path_end_runtime.go
Labels: none

fix test
  relayer/processor/path_end_test.go
Labels: none

temp
  go.work.sum
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/cosmos/message_handlers.go
  relayer/chains/cosmos/tx.go
  relayer/processor/message_processor.go
  relayer/processor/path_processor_internal.go
  relayer/processor/types_internal.go
Labels: none

fix: `cosmos_relayer_tx_failure` metric redundant count (#1343)
  relayer/processor/message_processor.go
Labels: none

verbose tx error (#1344)
  relayer/chains/cosmos/tx.go
Labels: none

fix: Use the provider IR instead of creating a new one
  relayer/chains/cosmos/log.go
Labels: none

account sequence optimization and gas hack
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/cosmos/keys.go
  relayer/chains/cosmos/provider.go
  relayer/chains/cosmos/tx.go
Labels: none

check channel open + tests
  relayer/processor/path_end_runtime.go
  relayer/processor/path_end_test.go
Labels: none

remove open channel check
  relayer/processor/path_end_runtime.go
  relayer/processor/path_end_test.go
Labels: none

fix race - remove warn log
  relayer/processor/path_end_runtime.go
  relayer/processor/path_end_test.go
Labels: none

rename metric
  docs/advanced_usage.md
  relayer/processor/metrics.go
Labels: documentation

troubleshoot doc improvment
  docs/troubleshooting.md
Labels: documentation

Ensure that ✘ is displayed for clients if they are expired
  relayer/path.go
Labels: none

fix: Use the provider IR instead of creating a new one (#1346)
  relayer/chains/cosmos/log.go
Labels: none

unrelayed metrics
  interchaintest/go.mod
  interchaintest/go.sum
  relayer/processor/metrics.go
  relayer/processor/path_processor.go
  relayer/processor/path_processor_internal.go
Labels: none

Address review comment
  relayer/path.go
Labels: none

update docs
  docs/advanced_usage.md
Labels: documentation

Ensure that ✘ is displayed for clients if they are expired (#1352)
  relayer/path.go
Labels: none

add sync mutex
  relayer/processor/path_processor_internal.go
Labels: none

rename metric (#1347)
  docs/advanced_usage.md
  relayer/processor/metrics.go
Labels: documentation

add mutex's
  interchaintest/go.mod
  interchaintest/go.sum
  relayer/processor/path_end_runtime.go
Labels: none

remove allowlist dependancy + chance mutex type
  docs/advanced_usage.md
  relayer/processor/path_processor_internal.go
Labels: documentation

penumbra: update proof spec to new multistore format
  relayer/chains/penumbra/tx.go
Labels: none

penumbra: use new commitment prefix
  relayer/chains/penumbra/provider.go
Labels: none

unrelayed packets metric
  docs/advanced_usage.md
  interchaintest/go.mod
  interchaintest/go.sum
  relayer/processor/metrics.go
  relayer/processor/path_processor_internal.go
Labels: documentation

.github/labeler.yml:

cicd:
  - '.github/workflows/*'

scripts:
  - 'scripts/*'

test:
  - 'test/**'

documentation:
- '**/*.md'

docker:
- 'docker/**'
