Repository cosmos/relayer, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, scripts, test, documentation, docker

`GetCommit` with just Time & AppHash returns
  cclient/consensus.go
  cclient/consensus_cmbft.go
  cclient/consensus_gordian.go
  cclient/gordian_test.go
Labels: none

bump calculation
  relayer/chains/cosmos/provider.go
Labels: none

bump calculation
  relayer/chains/cosmos/provider.go
Labels: none

feat: allow calculating rollapp trusting dynamically (#45)
  relayer/chains/cosmos/provider.go
Labels: none

feat: disables debug server by default
  README.md
  cmd/flags.go
  cmd/start.go
Labels: documentation

fix: use correct bool to check if connecting rollapp <-> hub
  cmd/tx.go
Labels: none

fix: remove unused IsHub cosmos provider config field
  relayer/chains/cosmos/provider.go
Labels: none

feat: disables debug server by default (#1496)
  README.md
  cmd/flags.go
  cmd/start.go
Labels: documentation

ci: update deprecated action/upload-artifact to v4
  .github/workflows/build.yml
Labels: cicd

docs: update our CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

docs: update enforcement contact list in CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

feat: relayer account not needed to exist on rollapp (#47)
  README.md
  go.mod
  go.sum
  relayer/chains/cosmos/tx.go
Labels: documentation

ci: update ci artifact name
  .github/workflows/release.yml
  .goreleaser.yaml
Labels: cicd

docs: update our CODE_OF_CONDUCT.md (#1498)
  CODE_OF_CONDUCT.md
Labels: documentation

wip
  cclient/consensus.go
  cclient/consensus_gordian.go
Labels: none

remove WithClient
  relayer/chains/cosmos/feegrant.go
  relayer/chains/cosmos/tx.go
Labels: none

refactor: alternate consensus engines (#1490)
  cclient/cmbft_client_wrapper.go
  cclient/cmbft_consensus.go
  cclient/consensus.go
  interchaintest/feegrant_test.go
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/cosmos/fee_market.go
  relayer/chains/cosmos/feegrant.go
  relayer/chains/cosmos/provider.go
  relayer/chains/cosmos/query.go
  relayer/chains/cosmos/tx.go
  relayer/chains/penumbra/penumbra_chain_processor.go
  relayer/chains/penumbra/provider.go
  relayer/chains/penumbra/query.go
  relayer/chains/penumbra/tx.go
Labels: none

feat: only update sequence number if it's not zero (which indicates using dymension ante) (#49)
  relayer/chains/cosmos/tx.go
Labels: none

feat: adds metrics server address to config and sets localhost defaults
  cmd/config.go
  examples/config_EXAMPLE.yaml
Labels: none

feat: changes the default metrics port to 5184
  cmd/config.go
  examples/config_EXAMPLE.yaml
Labels: none

refactor: separates debug and metrics server
  cmd/flags.go
  cmd/start.go
  internal/relaydebug/debugserver.go
  internal/relayermetrics/metricsserver.go
Labels: none

refactor: removes address flags for debug and metrics server
  cmd/flags.go
  cmd/start.go
  cmd/start_test.go
  internal/relaydebug/debugserver.go
  internal/relayermetrics/metricsserver.go
  internal/relayertest/system.go
Labels: none

refactor: renames api-listen-addr to debug-listen-addr
  cmd/config.go
  cmd/config_test.go
  cmd/start.go
  cmd/start_test.go
  examples/config_EXAMPLE.yaml
Labels: none

feat: restores cli flags to set addresses for debug and metrics servers
  README.md
  cmd/flags.go
  cmd/start.go
  cmd/start_test.go
  docs/advanced_usage.md
  docs/troubleshooting.md
  interchaintest/relayer.go
Labels: documentation

feat: improves error reporting
  cmd/flags.go
  cmd/start.go
  cmd/start_test.go
Labels: none

chore: code cleanup
  README.md
  cmd/flags.go
  cmd/start.go
  cmd/start_test.go
Labels: documentation

fix: fetch gas-prices from the chain config if provided
  cregistry/chain_info.go
Labels: none

fix: fetch gas-prices from the chain config if provided (#1508)
  cregistry/chain_info.go
Labels: none

Fix typo: MsgChannelCloseConfim to MsgChannelCloseConfirm
  docs/chain_implementation.md
Labels: documentation

fix(build): strips debug info
  Makefile
Labels: none

feat: adds metrics server address to config and sets localhost defaults
  cmd/config.go
  examples/config_EXAMPLE.yaml
Labels: none

refactor: separates debug and metrics server
  cmd/flags.go
  cmd/start.go
  internal/relaydebug/debugserver.go
  internal/relayermetrics/metricsserver.go
Labels: none

refactor: removes address flags for debug and metrics server
  cmd/flags.go
  cmd/start.go
  cmd/start_test.go
  internal/relaydebug/debugserver.go
  internal/relayermetrics/metricsserver.go
  internal/relayertest/system.go
Labels: none

feat: changes the default metrics port to 5184
  cmd/config.go
  examples/config_EXAMPLE.yaml
Labels: none

feat: deprecates api-listen-addr
  cmd/config.go
  cmd/config_test.go
  cmd/start.go
  cmd/start_test.go
Labels: none

fix: reformat log messages to follow styleguide
  cmd/start.go
  cmd/start_test.go
Labels: none

feat: improves error reporting
  cmd/flags.go
  cmd/start.go
  cmd/start_test.go
Labels: none

fix: closes body
  cmd/start_test.go
Labels: none

chore: code cleanup
  README.md
  cmd/flags.go
  cmd/start.go
  cmd/start_test.go
Labels: documentation

feat: rollbacks --debug-addr flag
  cmd/flags.go
  cmd/start.go
  cmd/start_test.go
  internal/relayertest/system.go
Labels: none

.github/labeler.yml:

cicd:
  - '.github/workflows/*'

scripts:
  - 'scripts/*'

test:
  - 'test/**'

documentation:
- '**/*.md'

docker:
- 'docker/**'
