Repository cosmos/relayer, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, scripts, test, documentation, docker

chore: update cometbft-client to v0.1.0 in e2e tests
  interchaintest/go.mod
  interchaintest/go.sum
Labels: none

fix: only send client updates when necessary and when msg is properly constructed (#1407)
  go.mod
  go.sum
  interchaintest/go.mod
  interchaintest/go.sum
  relayer/processor/message_processor.go
Labels: none

Update Fixed Validation of `VoteExtensionsEnableHeight` can cause chain halt in Go cosmos cometbft (#1398)
  interchaintest/go.mod
Labels: none

deps: update deps to latest patch versions
  go.mod
  go.sum
  interchaintest/go.mod
  interchaintest/go.sum
Labels: none

tests: update chain binaries to more recent tags, clean up code
  interchaintest/client_threshold_test.go
  interchaintest/feegrant_test.go
  interchaintest/misbehaviour_test.go
  interchaintest/multi_channel_test.go
  interchaintest/path_filter_test.go
  interchaintest/poll_test.go
  interchaintest/relay_many_test.go
  interchaintest/relayer_override_test.go
  interchaintest/tendermint_v0.37_boundary_test.go
Labels: none

chore: update deps and e2e tests (#1409)
  go.mod
  go.sum
  interchaintest/client_threshold_test.go
  interchaintest/feegrant_test.go
  interchaintest/go.mod
  interchaintest/go.sum
  interchaintest/misbehaviour_test.go
  interchaintest/multi_channel_test.go
  interchaintest/path_filter_test.go
  interchaintest/poll_test.go
  interchaintest/relay_many_test.go
  interchaintest/relayer_override_test.go
  interchaintest/tendermint_v0.37_boundary_test.go
Labels: none

feat: implement support for Osmosis EIP-1559
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/cosmos/fee_market.go
  relayer/chains/cosmos/fee_market_test.go
  relayer/chains/cosmos/grpc_query.go
  relayer/chains/cosmos/provider.go
  relayer/chains/cosmos/tx.go
Labels: none

chore: update CODEOWNERS file
  .github/CODEOWNERS
Labels: none

feat: implement support for Osmosis EIP-1559 (#1412)
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/cosmos/fee_market.go
  relayer/chains/cosmos/fee_market_test.go
  relayer/chains/cosmos/grpc_query.go
  relayer/chains/cosmos/provider.go
  relayer/chains/cosmos/tx.go
Labels: none

chore: update CODEOWNERS file (#1415)
  .github/CODEOWNERS
Labels: none

Namada support v2
  cmd/config.go
  relayer/chains/namada/provider.go
Labels: none

Corrected a faulty variable
  cmd/config.go
Labels: none

fix(logging): displays correct chain info when query IBC header fails
  relayer/client.go
Labels: none

Change version in README.MD from 2.4.0 to 2.5.2
  README.md
Labels: documentation

Change version in README.MD from 2.4.0 to 2.5.2 (#1424)
  README.md
Labels: documentation

chore: add chain and client ids to incomplete flush log output
  relayer/processor/path_processor.go
Labels: none

fix(logging): displays correct chain info when query IBC header fails (#1423)
  relayer/client.go
Labels: none

chore: add chain and client ids to incomplete flush log output (#1428)
  relayer/processor/path_processor.go
Labels: none

base
  .codespellrc
  .github/workflows/chores.yml
Labels: cicd

typos fixed
  .codespellrc
  CHANGELOG.md
  Makefile
  cmd/keys.go
  docs/advanced_usage.md
  interchaintest/interchain_accounts_test.go
  interchaintest/localhost_client_test.go
  interchaintest/misbehaviour_test.go
  interchaintest/multi_channel_test.go
  interchaintest/path_filter_test.go
  interchaintest/relay_many_test.go
  interchaintest/relayer_override_test.go
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/cosmos/keys.go
  relayer/chains/cosmos/query.go
  relayer/chains/cosmos/tx.go
  relayer/chains/mock/mock_chain_processor.go
  relayer/chains/penumbra/keys.go
  relayer/chains/penumbra/query.go
  relayer/chains/penumbra/tx.go
  relayer/client.go
  relayer/processor/chain_processor.go
  relayer/processor/message_processor.go
  relayer/processor/metrics.go
  relayer/processor/path_end_test.go
  relayer/processor/types_internal.go
  relayer/relayMsgs.go
Labels: documentation

lint links
  docs/node_pruning.md
  docs/troubleshooting.md
  examples/README.md
Labels: documentation

relative links
  README.md
Labels: documentation

fix wallet balance metric
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

ci: broken links & spelling (#1431)
  .codespellrc
  .github/workflows/chores.yml
  CHANGELOG.md
  Makefile
  README.md
  cmd/keys.go
  docs/advanced_usage.md
  docs/node_pruning.md
  docs/troubleshooting.md
  examples/README.md
  interchaintest/interchain_accounts_test.go
  interchaintest/localhost_client_test.go
  interchaintest/misbehaviour_test.go
  interchaintest/multi_channel_test.go
  interchaintest/path_filter_test.go
  interchaintest/relay_many_test.go
  interchaintest/relayer_override_test.go
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/cosmos/keys.go
  relayer/chains/cosmos/query.go
  relayer/chains/cosmos/tx.go
  relayer/chains/mock/mock_chain_processor.go
  relayer/chains/penumbra/keys.go
  relayer/chains/penumbra/query.go
  relayer/chains/penumbra/tx.go
  relayer/client.go
  relayer/processor/chain_processor.go
  relayer/processor/message_processor.go
  relayer/processor/metrics.go
  relayer/processor/path_end_test.go
  relayer/processor/types_internal.go
  relayer/relayMsgs.go
Labels: cicd, documentation

fix wallet balance metric (#1433)
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

chore: update dependency versions
  go.mod
  go.sum
  interchaintest/go.mod
  interchaintest/go.sum
Labels: none

chore: use compatible dependencies so compilation doesn't fail
  go.mod
  go.sum
  interchaintest/go.mod
  interchaintest/go.sum
Labels: none

chore: use compatible docker version for interchaintest
  interchaintest/go.mod
  interchaintest/go.sum
Labels: none

chore: update dependency versions (#1435)
  go.mod
  go.sum
  interchaintest/go.mod
  interchaintest/go.sum
Labels: none

feat: add the ability to query IBC denom trace
  cmd/query.go
  relayer/chains/cosmos/query.go
  relayer/chains/penumbra/query.go
  relayer/provider/provider.go
Labels: none

chore: add missing generated code file
  relayer/chains/penumbra/core/app/v1/app.pb.go
Labels: none

chore: update Penumbra proto generated code for v0.71.0
  relayer/chains/penumbra/core/component/stake/v1/stake.pb.go
Labels: none

feat: add the ability to query IBC denom trace (#1436)
  cmd/query.go
  relayer/chains/cosmos/query.go
  relayer/chains/penumbra/query.go
  relayer/provider/provider.go
Labels: none

fix: update query path for getAnchor
  relayer/chains/penumbra/tx.go
Labels: none

fix stuck packet
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

fix stuck packet (#1442)
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

fix: update query path for getAnchor
  relayer/chains/penumbra/tx.go
Labels: none

fix: update query path for getAnchor in Penumbra provider (#1443)
  relayer/chains/penumbra/tx.go
Labels: none

fix: perform upper and lower bounds check on unbonding value before converting to int64
  relayer/chains/cosmos/query.go
Labels: none

fix: perform upper and lower bounds check on unbonding value before converting to int64 (#1444)
  relayer/chains/cosmos/query.go
Labels: none

.github/labeler.yml:

cicd:
  - '.github/workflows/*'

scripts:
  - 'scripts/*'

test:
  - 'test/**'

documentation:
- '**/*.md'

docker:
- 'docker/**'
