Repository cosmos/relayer, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, scripts, test, documentation, docker

.github/labeler.yml:

cicd:
  - '.github/workflows/*'

scripts:
  - 'scripts/*'

test:
  - 'test/**'

documentation:
- '**/*.md'

docker:
- 'docker/**'

chore: remove retry on getChannels for initializeChannelCache (#166)
  relayer/chains/wasm/query.go
  relayer/chains/wasm/utils.go
Labels: none

chore: remove flush for release (#170)
  relayer/processor/path_processor.go
Labels: none

Flip order of queries for QueryUnbondingPeriod
  relayer/chains/cosmos/query.go
Labels: none

Ability to fetch specific chain paths only (#1291)
  cmd/paths.go
Labels: none

Add fallback for chains using cosmos-sdk 47+
  interchaintest/tendermint_v0.37_boundary_test.go
  relayer/chains/cosmos/provider.go
Labels: none

Trusting period logic remains same
  relayer/chains/cosmos/provider.go
Labels: none

Add Fallback
  relayer/chains/cosmos/provider.go
  relayer/chains/cosmos/query.go
Labels: none

faddat/upgrade go (#1279)
  .github/workflows/build.yml
  .github/workflows/interchaintest.yml
  .github/workflows/release.yml
  Dockerfile
  go.mod
  go.sum
  go.work
  interchaintest/go.mod
  interchaintest/go.sum
  local.Dockerfile
Labels: cicd

Split scenarios test
  .github/workflows/interchaintest.yml
  Makefile
Labels: cicd

use matrix
  .github/workflows/interchaintest.yml
  Makefile
Labels: cicd

updates
  .github/workflows/interchaintest.yml
Labels: cicd

need to cd into dir first
  .github/workflows/interchaintest.yml
Labels: cicd

handle deprication
  .github/workflows/interchaintest.yml
Labels: cicd

Remove rouge entry into the matrix
  .github/workflows/interchaintest.yml
Labels: cicd

Ensure other parallel tests run to completion even if one of them fail
  .github/workflows/interchaintest.yml
  Makefile
Labels: cicd

Add explanation
  .github/workflows/interchaintest.yml
  Makefile
Labels: cicd

Remove rougue whitespace
  Makefile
Labels: none

Split scenarios test (#1294)
  .github/workflows/interchaintest.yml
Labels: cicd

Consolidate functions into a single queryParamsSubspaceTime
  relayer/chains/cosmos/query.go
Labels: none

Update according to reviews
  cmd/query.go
Labels: none

Add stuck packet height hack
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

Add verbosity and timeout for scenarios tests
  .github/workflows/interchaintest.yml
Labels: cicd

convert to feature with flags
  cmd/flags.go
  cmd/start.go
  cmd/tx.go
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/mock/mock_chain_processor.go
  relayer/chains/penumbra/penumbra_chain_processor.go
  relayer/processor/chain_processor.go
  relayer/processor/event_processor.go
  relayer/processor/types.go
  relayer/strategies.go
Labels: none

remove unused var
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

add example of injecting an ibc message
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

Add verbosity and timeout for scenarios tests (#1295)
  .github/workflows/interchaintest.yml
Labels: cicd

Add output flag for query sub commands results printed to console. (#1281)
  cmd/flags.go
  cmd/query.go
  relayer/query.go
  relayer/query_test.go
Labels: none

Update to search for tests recursively
  .github/workflows/interchaintest.yml
Labels: cicd

improve usage description
  cmd/flags.go
Labels: none

Add ability to fetch testnet chains and paths + force-add ability (#1285)
  cmd/chains.go
  cmd/errors.go
  cmd/flags.go
  cmd/paths.go
  cregistry/chain_info.go
  cregistry/chain_registry.go
  cregistry/cosmos_github_registry.go
Labels: none

update interchaintest workflow
  .github/workflows/interchaintest.yml
Labels: cicd

Add stuck packet height hack
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

convert to feature with flags
  cmd/flags.go
  cmd/start.go
  cmd/tx.go
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/mock/mock_chain_processor.go
  relayer/chains/penumbra/penumbra_chain_processor.go
  relayer/processor/chain_processor.go
  relayer/processor/event_processor.go
  relayer/processor/types.go
  relayer/strategies.go
Labels: none

remove unused var
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

allow stuck packet flags on flush
  cmd/flags.go
  cmd/start.go
  cmd/tx.go
Labels: none

update interchaintest workflow (#1298)
  .github/workflows/interchaintest.yml
Labels: cicd

Add docs
  docs/advanced_usage.md
Labels: documentation

Fix typo
  docs/advanced_usage.md
Labels: documentation

Query param prop directly (#1264)
  interchaintest/tendermint_v0.37_boundary_test.go
  relayer/chains/cosmos/provider.go
  relayer/chains/cosmos/query.go
Labels: none

Test Commit
  .github/workflows/test.yml
Labels: cicd
