Repository cosmos/relayer, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, scripts, test, documentation, docker

feature: Added adjustments to support on-demand blocks (#6)
  relayer/client.go
  relayer/processor/message_processor.go
  relayer/processor/path_processor.go
Labels: none

Revert "feature: Added adjustments to support on-demand blocks (#6)"
  relayer/client.go
  relayer/processor/message_processor.go
  relayer/processor/path_processor.go
Labels: none

chore: remove repetitive word
  docs/advanced_usage.md
Labels: documentation

a couple tweaks
  go.work.sum
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/processor/message_processor.go
  relayer/processor/path_processor.go
Labels: none

revert main-dym patches
  relayer/client.go
  relayer/processor/message_processor.go
  relayer/processor/path_processor.go
Labels: none

add an option to specify cosmos chain sync threshold
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/strategies.go
Labels: none

use the specified option in the comparison
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

remove comment
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

pass option for rollapp only in bootstrap
  relayer/strategies.go
Labels: none

add debug logs for process message errors
  relayer/processor/message_processor.go
  relayer/processor/path_processor.go
  relayer/processor/path_processor_internal.go
Labels: none

add several more debug logs
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/processor/path_end_runtime.go
  relayer/processor/path_processor.go
Labels: none

try to force an update on first sync
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

try to force an update on first sync
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

going to have to go to town on the queryCycle
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/processor/path_end_runtime.go
  relayer/strategies.go
Labels: none

try to fix the query cycle
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

it looks like it might work
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

add todos on the threshold config
  relayer/strategies.go
Labels: none

fix: allow relaying based on first block (#18)
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/client.go
  relayer/processor/message_processor.go
  relayer/processor/path_end_runtime.go
  relayer/processor/path_processor.go
  relayer/processor/path_processor_internal.go
Labels: none

chore: remove repetitive word
  docs/advanced_usage.md
Labels: documentation

fix: avoid counterparty recv packet message get removed before open channel
  CHANGELOG.md
  relayer/processor/path_end_runtime.go
Labels: documentation

add retry instead
  CHANGELOG.md
  relayer/processor/path_end_runtime.go
Labels: documentation

separate max
  relayer/processor/path_end_runtime.go
  relayer/processor/path_processor.go
Labels: none

adds loads of junk
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/cosmos/message_handlers.go
  relayer/processor/message_processor.go
  relayer/processor/path_end_runtime.go
Labels: none

fix(stuck packet): sync properly after finding stuck packets (#19)
  README.md
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/cosmos/message_handlers.go
  relayer/processor/path_processor.go
Labels: documentation

fix: avoid counterparty recv packet message get removed before open channel (#1455)
  CHANGELOG.md
  relayer/processor/path_end_runtime.go
  relayer/processor/path_processor.go
Labels: documentation

ci: update github action versions for codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: cicd

Add balances cmd to query multi chain balances
  cmd/flags.go
  cmd/query.go
Labels: none

tweaks logs
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

remove annoying log
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

add some debug logs
  relayer/chains/cosmos/cosmos_chain_processor.go
Labels: none

logs, errors
  relayer/processor/path_processor.go
  relayer/processor/path_processor_internal.go
Labels: none

more debug
  relayer/processor/message_processor.go
  relayer/processor/path_processor_internal.go
Labels: none

wait!
  relayer/chains/cosmos/tx.go
  relayer/processor/message_processor.go
  relayer/processor/path_processor.go
Labels: none

adds a dirty hack to make the program wait
  relayer/processor/path_processor.go
Labels: none

fix(flush): do not short circuit if ack is not available (#23)
  dymutils/gerr/types.go
  relayer/chains/cosmos/cosmos_chain_processor.go
  relayer/chains/cosmos/query.go
  relayer/chains/cosmos/tx.go
  relayer/processor/message_processor.go
  relayer/processor/path_end_runtime.go
  relayer/processor/path_processor.go
  relayer/processor/path_processor_internal.go
  relayer/processor/types_internal.go
Labels: none

docs: update CODEOWNERS
  .github/CODEOWNERS
Labels: none

docs: update CODEOWNERS with correct letter case
  .github/CODEOWNERS
Labels: none

docs: update CODEOWNERS with correct team
  .github/CODEOWNERS
Labels: none

docs: remove specific usernames from CODEOWNERS
  .github/CODEOWNERS
Labels: none

ci: update github action versions for codeql-analysis.yml (#1460)
  .github/workflows/codeql-analysis.yml
Labels: cicd

.github/labeler.yml:

cicd:
  - '.github/workflows/*'

scripts:
  - 'scripts/*'

test:
  - 'test/**'

documentation:
- '**/*.md'

docker:
- 'docker/**'
